.decor {
  border: none;
  height: 2px;
  stroke-width: 1px;
  background-color: rgba(27, 27, 27, 0.2);
  margin: 10px 0;
}

.container {
    display: flex;
    margin-top: 10px;
}

.details {
    margin-left: 20px;
}

.genres {
    padding-left: 0;
}

.genre {
    padding-left: 10px;
    padding-bottom: 7px;
}

.header {
    margin: 0;
}

.active {
    font-size: 100px;
}